<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDirectory" value="C:\Users\daryl\Documents\Genex\sftpDirectoryMover\baseDir"/>
    <add key="SentDirectory" value ="C:\Users\daryl\Documents\Genex\sftpDirectoryMover\sentDir"/>
    <add key="FtpAddress" value="waws-prod-bay-007.ftp.azurewebsites.windows.net"/>
    <add key="FtpLogin" value="appagainsthumanity\daryllogin"/>
    <add key="FtpSecret" value="testPassword"/>
    <add key="FtpDirectory" value="/Genex/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>