<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDirectory" value="Base Directory Here"/>
    <add key="SentDirectory" value ="To Send Directory Here"/>
    <add key="FtpAddress" value="FTP Address Here"/>
    <add key="FtpLogin" value="FTP Login Here"/>
    <add key="FtpSecret" value="FTP Password Here"/>
    <add key="FtpDirectory" value="FTP Directory Here"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>