<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDirectory" value="Put Base Directory To Scan here"/>
    <add key="SentDirectory" value ="Put Directory To move Scanned Directories To Here"/>
    <add key="FtpAddress" value="Put FTP Address Here"/>
    <add key="FtpLogin" value="Put FTP Login Name Here"/>
    <add key="FtpSecret" value="Put Password Here"/>
    <add key="FtpDirectory" value="put Ftp Directory Here (i.e. /directory/)"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>